In [1]:
import pandas
import configparser
import psycopg2

In [2]:
config = configparser.ConfigParser()
config.read('config.ini')

db = config['myaws']['db']
host = config['myaws']['host']
user = config['myaws']['user']
pwd = config['myaws']['pwd']

In [3]:
conn = psycopg2.connect(
                        host = host,
                        user = user,
                        password = pwd,
                        dbname = db)

In [10]:
sql = """  select * from student"""

In [11]:
df = pandas.read_sql_query( sql ,conn )

df[:]

/tmp/ipykernel_19442/529080694.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pandas.read_sql_query( sql ,conn )

      s_email s_name major
0  s1@jmu.edu     s1    IA
1  s2@jmu.edu     s2    IA
2  s3@jmu.edu     s3  ISAT
3  s4@jmu.edu     s4  ISAT
4  s5@jmu.edu     s3    IA

In [6]:
cur = conn.cursor()

In [7]:
sql = """
    insert into student(s_email,s_name,major)
    values('{}','{}','{}')
""".format('s5@jmu.edu','s3','IA')
print(sql)

    insert into student(s_email,s_name,major)
    values('s5@jmu.edu','s3','IA')

In [8]:
cur.execute(sql)

In [9]:
conn.commit()

In [12]:
cur.close()

In [13]:
conn.close()